doctype html
html(lang="en")
    head
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        header
            h1=pageTitle
            nav(style="margin: 0")
                ul
                    li
                        a(href="/") Home
                    li
                        a(href="/search") Search
                    if loggedIn
                        li
                            a(href=`/users/${user._id}`) #{user.name}'s Profile
                        li
                            a(href="/videos/upload") Upload
                        li
                            a(href="/users/logout") Logout
                    else
                        li
                            a(href="/users/join") Join
                        li
                            a(href="/users/login") Login
        main
            block content
        include partials/footer
