extends base

block content
    p=video.description
    small=video.createdAt
    br
    small #{video.meta.views} #{(video.meta.views <= 1) ? "view" : "views"}
    br
    small #{video.meta.rating} / 5
    br
    small #{video.hashtags.join(" ")}
    br
    a(href=`${video._id}/edit`) Edit video &rarr;
    br
    a(href=`${video._id}/delete`) Delete video &rarr;